@use "variables" as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
    line-height: 1.8;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html,
body {
    height: 100%;
    margin: 0rem;
}

header,
footer {
    flex: 0 0 auto;
}

body>.contenedor {
    flex: 1 0 auto;
}


p {
    color: v.$negro;
    font-size: 2rem;
}
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    height: auto;
    display: block;
}

h1, h2, h3 {
    font-family: v.$fuente_principal;
    margin: calc(v.$separacion / 2) 0;
    font-weight: 300;
    text-align: center;
    
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}

.adjustarImagenesAnuncios {
    min-height: 38.5rem;
    object-fit: cover;
}
