@use "sass:color";
@use "base/variables" as v;
@use "base/mixins" as m;

@include m.tablet {
    .contenedor-anuncios {
        @include m.grid(3, 2rem);
    }
}

.anuncio {
    background-color: color.adjust(v.$gris, $lightness: 5%);
    border: 1px solid color.adjust(v.$gris, $lightness: -10%);
    margin-bottom: 2rem;

    .contenido-anuncio {
        padding: 2rem;
    }

    h3, p3 {
        margin: 0;
    }
}


.precio {
    color: v.$verde;
    font-weight: v.$bold;
    font-size: 3rem;
}

.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0px;
    max-width: 40rem;

    li {
        flex: 1;
        display: flex;

        img {
            flex: 0 0 3rem;
            margin-right: 1rem;
        }

        p {
            font-weight: v.$black;
        }
    }
}
