@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
    padding: calc(v.$separacion/2) 0;
    background-color: v.$grisOscuro;
    margin-bottom: 0px;
    margin-top: 5rem;

    .contenedor-footer {
        padding-top: calc(v.$separacion/2);
    }

    .navegacion {
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .copyright {
        color: v.$blanco;
        text-align: center;
    }
}
